DB_DSN = "host=* port=* dbname=* user=* password=* sslmode=*"
PORT = ":4040"

RABBITMQ_URL="amqp://guest:guest@localhost:5672/"
BOT_TOKEN=8734352354:A3HlS3GUuKs3rwfBV3MW3Smc3mUm3w3NM3Y

PROXY="http://login:password@address:port"